img{max-width: 100%;}
div#logo{width: 160px;}
#logo{background: url('/img/logo.png') left center/165px no-repeat;}
.grecaptcha-badge {visibility: hidden;}
.btn-orange{color:#fff;background-color:#da6709;border-color:#da6709}
.btn-orange:hover{background-color: #d05e00;border-color: #d05e00;color:#fff;}
.text-orange{color: #da6709;}

@media screen and (min-width: 800px){
  div#logo{width: 235px;}
  #logo{background: url('/img/logo.png') left center/250px no-repeat;}
}