<!DOCTYPE html> 
<html lang="pt-br">
<head>
<title>Leone Promos | Confirme seu e-mail</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>
<body style="margin: 0;padding: 0;font-size:100%;border: none;outline: none;font-weight: 300;box-sizing: border-box;font-family: sans-serif;color: color:#130400; background-color:#f5f5f5 ;">
<div id="cabecalho" style="padding:1% 2%;text-align: center;">
<a href="https://ofertas.leone.tec.br/" style="text-decoration:none;">
  <img src="https://ofertas.leone.tec.br/img/logo.png" alt="Leone Promos" style="max-width:90%;"/>
</a>
</div>
<article>
<main style="padding: 3% 4%;">
<article id="noticia-principal">
<h2 style="font-size: 13pt;color: #fff;background-color: #ce2e3c;padding: 5px;">Confirme seu email</h2>
<p style="margin-bottom: 10px;">Olá {{nome}}, tudo bem ?</p>
<p style="margin-bottom: 10px;">Obrigado por se inscrever para receber e-mails com nossas melhores promoções!</p>
<p style="margin-bottom: 10px;">Nós não fazemos spam e respeitamos o direito de todo mundo à privacidade online. Por isso, você precisa confirmar a sua inscrição antes que nós possamos te enviar outros emails.</p>
<p style="margin-bottom: 10px;">Basta clicar no botão abaixo: </p>
<br>
<p style="text-align: center;">
<a style="color: #fff;text-decoration: none; background-color: #da6709;padding:10px;border-radius:40px;font-weight:bolder;" href="https://ofertas.leone.tec.br/newsletter/confirmar?key={{key}}" target="_blank">Confirmar sua inscrição</a>
</p>
<br/>
<p style="margin-bottom: 10px;">Caso não consiga clicar no botão, copie e cole esse link: https://ofertas.leone.tec.br/newsletter/confirmar?key={{key}}</p>
<p style="margin-bottom: 10px;">Se você não se cadastrou para receber e-mails do Leone Promos recentemente, por favor ignore este email e nós não entraremos em contato novamente.</p>
<p style="margin-bottom: 10px;">Até o próximo e-mail!</p>
<div style="clear: both;border-top: 1px solid #606060;text-align: center;">
<p style="margin-bottom: 10px;">Não responda esse e-mail, pois não receberemos seu e-mail, caso precise de suporte mande um e-mail para <a style=" color: #606060;text-decoration: none;" href="mailto:falecom@leone.tec.br?subject=Leone%20Promos" target="_blank">falecom@leone.tec.br</a>.</p>
<p style="margin-bottom: 10px;"><span style="font-weight:bolder;">&copy; {{ano}} - Leone Promos</span> - Todos os direitos reservados.</p>
<p style="margin-bottom: 10px;"><a style="color: #606060;text-decoration: none;" href="https://instagram.com/ofertas.leone" target="_blank">Instagram</a> | <a style=" color: #606060;text-decoration: none;" href="https://ofertas.leone.tec.br/" target="_blank">Website</a></p>
<p style="margin-bottom: 10px;"><a style="color: #606060;text-decoration: none;" href="https://ofertas.leone.tec.br/newsletter/descadastrar?key={{key}}" target="_blank">Descadastre-se</a></p>
</div>
</main>
</article>
</body>
</html>