#updateProfilePicture {
    top: 40px;
    right: 40px;
    margin-bottom: -50px;
}

#dropdownMenuUser {
    top: 30px;
    left: -110px;
}

a {
    text-decoration: none !important;
}

.navbar-brand {
    line-height: 45px;
}

.grecaptcha-badge {
    visibility: hidden;
}

.card-header > .wpp {
    background-color: #34af23;
}

.card-header > .tlg {
    background-color: #0088cc;
}

.card-header > .igs {
    background: linear-gradient(to top, #fbad50, #8a3ab9);
}

.form-signin {
    width: 330px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"], .form-signin input[type="text"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


.card-header > .twt {
    background-color: #00acee;
}

.card-header > .pls {
    background-color: #000;
    color: #fff;
}

.share {
    padding: 10px;
    width: 40px;
    border-radius: 40px;
    height: 40px;
    line-height: 20px;
    font-size: 20px;
}

.card-header i,
.share a {
    color: #fff;
}

.card-header {
    width: 100%;
    text-align: center;
}

img.loja {
    max-width: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.categoria > a > img {
    height: 100px;
    max-width: 200px;
}

#categorias > .categoria a {
    margin-top: 10px;
}

.categoria {
    height: 140px;
    width: 240px;
    border: 1px solid grey;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;

}

.categoria > a {
    color: #000;
    text-decoration: none;
    text-align: center;
}

#social > a {
    margin-right: 10px;
}

.categoria img {
    max-width: 115px;
}

.pointer {
    cursor: pointer;
}

.product-image,
.loja {
    max-height: 300px;
}

#logomarca > img {
    width: 250px;
}

img[alt=Extra],
img[alt=Ponto] {
    background-color: #606060;
    padding: 10px;
}

.loja-image[alt=Extra],
.loja-image[alt=Ponto],
.loja-image[alt="Casas Bahia"] {
    margin-bottom: 3rem;
    margin-top: 2rem;
}

#close {
    position: absolute;
    top: 20px;
    right: 20px;
}

.z-index-fixed {
    z-index: 1050;
}

.padding-menu {
    padding-top: 61px;
}

@media (max-width: 768px) {
    #menu {
        font-size: calc(1.375rem + 1.5vw) !important;
    }

    .padding-menu {
        padding-top: 116px;
    }
}

@media (min-width: 768px) {
    .toast {
        width: 500px;
    }

    div.card-body {
        position: relative;
        top: 40%;
        transform: translateY(-50%);
        flex: none;
    }

    div.final {
        margin-top: auto;
    }
}

@media (min-width: 992px) {
    .w-lg-30 {
        width: 30% !important;
    }

    div.toast-footer {
        margin-top: auto;
    }

    .toast {
        width: 800px;
    }
}
