
<section class="aviso_eu_cookie">
  <div>
  <p>Esse site utiliza cookies e coleta alguns dados. Ao continuar a usar este site, você concorda com isso.</p>
  <p>Para saber mais, inclusive sobre quais dados são coletados, consulte aqui:
  <a href="/cookies" target="_blank">
  Políticas de cookies</a> e <a href="/privacidade" target="_blank">
  Políticas de privacidade</a>.</p>
  <div id="div_accept">
    <button id="accept" onclick="accept()">
    Fechar e aceitar
  </button></div>
  </div>
</section>