<article class="container">
  <h2 class="h2">Amazon não faz mais parte das lojas parceiras</h2>
  <p>Foi uma excelente parceria com grandes promoções, mas infelizmente essa parceria chegou ao fim, pelo menos por enquanto, mas em breve poderemos estar juntos novamente, mas você ainda pode aproveitar promoções nas outras grandes lojas do Brasil.</p>
  <ul>
    <li>Magalu</li>
    <li>Casas Bahia</li>
    <li>Americanas</li>
    <li>Extra</li>
    <li>Submarino</li>
    <li>Ponto</li>
    <li>Shoptime</li>
    <li>Entre tantas outras de menor porte.</li>
  </ul>
  <a href="/lojas"><button class="btn bg-orange radius mt-2">Ver principais lojas parceiras</button></a>
</article> 