<h2 class="container" id="title">Categorias</h2>
<main id="categorias" class="container center">
<a href="/categorias/smartphones"><article class="categoria bg-white radius">
    <h4><i class="fas fa-mobile"></i> Smartphones</h4>
</article></a>
<a href="/categorias/informatica"><article class="categoria bg-white radius">
    <h4><i class="fas fa-laptop"></i> Informática</h4>
</article></a>
<a href="/categorias/eletronicos"><article class="categoria bg-white radius">
    <h4><i class="fas fa-headphones"></i> Eletrônicos</h4>
</article></a>
<a href="/categorias/eletrodomesticos"><article class="categoria bg-white radius">
    <h4><i class="fas fa-blender"></i> Eletrodomésticos</h4>
</article></a>
<a href="/categorias/pc"><article class="categoria bg-white radius">
    <h4><i class="fas fa-desktop"></i> PCs</h4>
</article></a>
<a href="/categorias/bonecas"><article class="categoria bg-white radius">
    <h4><i class="fas fa-child"></i> Bonecas</h4>
</article></a>
<a href="/categorias/tv"><article class="categoria bg-white radius">
    <h4><i class="fas fa-tv"></i> TVs</h4>
</article></a>
<a href="/categorias/fogao"><article class="categoria bg-white radius">
    <h4><i class="fas fa-fire"></i> Fogão</h4>
</article></a>
<a href="/categorias/geladeira"><article class="categoria bg-white radius">
    <h4><i class="fas fa-temperature-low"></i> Geladeira</h4>
</article></a>
<a href="/categorias/lavaroupas"><article class="categoria bg-white radius">
    <h4><i class="fas fa-tshirt"></i> Máquina de Lavar Roupas</h4>
</article></a>
<a href="/categorias/roupasm"><article class="categoria bg-white radius">
    <h4><i class="fas fa-male"></i> Roupas Masculinas</h4>
</article></a>
<a href="/categorias/roupasf"><article class="categoria bg-white radius">
    <h4><i class="fas fa-female"></i> Roupas Femininas</h4>
</article></a>
<a href="/categorias/talheres"><article class="categoria bg-white radius">
    <h4><i class="fas fa-utensils"></i> Talheres</h4>
</article></a>
<a href="/categorias/camas"><article class="categoria bg-white radius">
    <h4><i class="fas fa-bed"></i> Camas</h4>
</article></a>
<a href="/categorias/casaedeco"><article class="categoria bg-white radius">
    <h4><i class="fas fa-home"></i> Casa e decoração</h4>
</article></a>
<a href="/categorias/armario"><article class="categoria bg-white radius">
    <h4><i class="fas fa-archive"></i> Guarda-roupa</h4>
</article></a>
 <a href="/categorias/mesas"><article class="categoria bg-white radius">
    <h4><i class="fas fa-chair"></i> Mesas</h4>
</article></a>
<a href="/categorias/luz"><article class="categoria bg-white radius">
    <h4><i class="fas fa-lightbulb"></i> Lâmpada</h4>
</article></a>
</main>