<div id="banner" class="container center">
  <div class="title">
    <h2>PROMOÇÕES</h2>
    <h3>As melhores promoções da internet para você aproveitar com total segurança! Confira nossa seleção de ofertas, de cupons, navegue pelas categorias ou então sinta-se livre para fazer pesquisas em nossa seleção de ofertas.</h3>
  </div>
  <div id="buttons">
    <a href="/cupons"><button class="btn bg-white radius center"><i class="fas fa-tags"></i> Cupons</button></a>
    <a href="/categorias"><button class="btn bg-black radius center"><i class="fas fa-list"></i> Categorias</button></a>
    <a href="/lojas"><button class="btn radius bg-orange"><i class="fas fa-store"></i> Lojas</button></a>
  </div>
</div>
<h2 class="container" id="title">Melhores promoções</h2>
<main id="promos" class="container center">
<div id="noeye"></div>
{{top_promos}}
</main>
<h2 class="container h2">Verificar promoção</h2>
<p class="container">Está com dúvidas se está na pagina real? Não sabe se a promoção é verdadeira? Cole o link da promoção abaixo e você será redirecionado para essa promoção com total segurança.</p>
<form id="deeplink" class="container center" novalidate autocomplete="off">
  <label for="name">Link:</label> <input type="url" id="url" placeholder="Digite o link da promoção ..." name="url" class="radius"><br/><div class="small erro iurl center hidden"><br>Link inválido! Lembre-se de usar "https://".</div><br/>
  <button type="submit" class="bg-black radius">Ir para a promoção</button>
  </form>