<h2 class="container" id="title">Principais lojas parceiras</h2>
<main id="categorias" class="container center">
<a href="/lojas/amazon"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/5992/logo_115x76.png" alt="Amazon" class="icon"/>
</article></a>
<a href="/lojas/americanas"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/5632/logo_185x140.png" alt="Americanas"  class="icon"/>
</article></a>
<a href="/lojas/girafa"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/5727/logo_115x76.png" alt="Girafa" class="icon"/>
</article></a>
<a href="/lojas/submarino"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/5766/logo_115x76.png" alt="Submarino" class="icon"/>
</article></a>
<a href="/lojas/magalu"><article class="categoria bg-white radius">
    <img src="https://mvc.mlcdn.com.br/magazinevoce/img/common/parceiro-magalu-logo-blue.svg" alt="Parceiro Magalu" class="icon"/>
</article></a>
<a href="/lojas/shoptime"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/5644/logo_115x76.png" alt="Shoptime" class="icon"/>
</article></a>
<a href="/lojas/brandili"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/7863/logo_115x76.png" alt="Brandili" class="icon"/>
</article></a>
<a href="/lojas/usaflex"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/6358/logo_115x76.png" alt="Usaflex" class="icon"/>
</article></a>
<a href="/lojas/electrolux"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/6078/logo_115x76.png" alt="Electrolux" class="icon"/>
</article></a>
<a href="/lojas/itatiaia"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/7460/logo_115x76.png" alt="Itatiaia" class="icon"/>
</article></a>
<a href="/lojas/brastemp"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/5936/logo_115x76.png" alt="Brastemp" class="icon"/>
</article></a>
<a href="/lojas/positivo"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/6117/logo_115x76.png" alt="Positivo" class="icon"/>
</article></a>
<a href="/lojas/etna"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/6373/logo_115x76.png" alt="Etna" class="icon"/>
</article></a>
<a href="/lojas/repassa"><article class="categoria bg-white radius">
    <img src="https://www.lomadee.com/programas/BR/6104/logo_115x76.png" alt="Repassa" class="icon"/>
</article></a>
</main>