<!DOCTYPE html> 
<html lang="pt-br">
<head>
<meta charset="UTF-8"/>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-VHZEX7GYK2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-VHZEX7GYK2');
</script>
<link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>{{title}} | Leone Promos</title>
<meta name="description" content="Aproveite as melhores promoções da internet com total segurança!">
<meta name="og:description" content="Aproveite as melhores promoções da internet com total segurança!">
<meta name="keywords" content="Smartphone, promoção, melhor preço, site seguro, promoção real">
<meta name="robots" content="{{robots}}">
<meta name="author" content="Leone Oliveira">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://kit.fontawesome.com/6719bc67c5.js" crossorigin="anonymous" async></script>
<link rel="icon" href="/resources/img//icon.png">
<meta property="og:locale" content="pt_BR" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="Leone Promos" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-title" content="Ofertas"/>
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="msapplication-TileColor" content="#ce2e3c"/>
<meta name="msapplication-TileImage" content="/resources/img/icon.png"/>
<link rel="apple-touch-icon" href="/resources/img//icon.png"/>
<link rel="manifest" href="/resources/json/manifest.json">
<meta name="application-name" content="Ofertas">
<link rel="icon" sizes="152x152" href="/resources/img/152.png">
<link rel="apple-touch-icon" sizes="152x152" href="/resources/img/152.png"/>
<link rel="icon" sizes="144x144" href="/resources/img/144.png">
<link rel="apple-touch-icon" sizes="144x144" href="/resources/img/144.png"/>
<link rel="icon" sizes="128x128" href="/resources/img/128.png">
<link rel="icon" sizes="96x96" href="/resources/img/96.png">
<link rel="icon" sizes="90x90" href="/resources/img/90.png">
<link rel="icon" sizes="72x72" href="/resources/img/72.png">
<link rel="apple-touch-icon" sizes="72x72" href="/resources/img/72.png"/>
<link rel="icon" sizes="64x64" href="/resources/img/64.png">
<link rel="icon" sizes="60x60" href="/resources/img/60.png">
<link rel="icon" sizes="32x32" href="/resources/img/32.png">
<link rel="icon" sizes="16x16" href="/resources/img/16.png">
<meta name="theme-color" content="#ce2e3c">
<meta property="og:url" content="{{URL}}" />
<script src="https://www.google.com/recaptcha/api.js?render={{public_recaptcha_v3}}" async></script>{{headers}}
</head>
<body>{{aviso}}
<header id="cabecalho" class="container center bg-white">
  <a href="/">
    <h1 id="logo">
    Leone Promos - As melhores promoções para você aproveita com segurança
    </h1>
  </a>
  <button id="btn-menu" class="bg-gradiente"><i class="fas fa-bars"></i></button>
  <label for="qs"><button id="btn-search" class="bg-white"><i class="fas fa-search"></i></button></label>
  <nav id="menu" class="center">
    <a id="close"><i class="fas fa-times"></i></a>
    <ul>
      <li><a href="/">Início</a></li>
      <li><a href="/cupons">Cupons</a></li>
      <li><a href="/lojas">Lojas</a></li>
      <li><a href="/categorias">Categorias</a></li>
      <li><a href="/privacidade">Privacidade</a></li>
      <li><a href="/notificacoes">Notificações</a></li>
    </ul>
  </nav>
</header>{{notify}}
<form action="/search" id="form" class="hidden" method="post">
<input type="search" name="q" id="qs" placeholder="Digite sua pesquisa ..." class="radius bg-black" required autocomplete="off"/>
<button type="submit" class="bg-gradiente" onclick="event.preventDefault();validate_search();"><i class="fas fa-search"></i></button>
<div class="small erro iqs center padding hidden">Pesquisa inválida (Mínimo de 3 caracteres e máximo 64)</div>
<p class="small padding bg-white">Esta pesquisa é protegida pelo Google reCAPTCHA para garantir que você não é um robô. <a target="_blank" rel="nofollow" href="https://policies.google.com/privacy">Políticas de Privacidade</a> e <a target="_blank" rel="nofollow" href="https://policies.google.com/terms">Termos de Serviço</a> do Google são aplicáveis.<p>
</form>
<div class="container hidden" id="copy_sucess">
<h6 class="bolder">Texto copiado! <i class="fas fa-check"></i></h6>
<p>Agora é só compartilhar com seus amigos.</p>
</div>
  {{content}}
<a href="https://wa.me/message/D3HHIY2QZGOMH1" target="_blank" rel="nofollow" id="btn-whatsapp"><div><i class="fab fa-whatsapp"></i>
  </div></a>
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/funcoes.js"></script>
<script src="/resources/js/notify.js"></script>
<footer id="rodape" class="container center bg-gradiente">
  <div id="social">
    <a href="https://wa.me/message/D3HHIY2QZGOMH1"><i class="fab fa-whatsapp-square"></i></a>
    <a href="https://instagram.com/ofertas.leone"><i class="fab fa-instagram-square"></i></a>
    <a href="https://facebook.com/ofertas.leone"><i class="fab fa-facebook-square"></i></a>
    <a href="https://github.com/leonetecbr/leone-promos/"><i class="fab fa-github-square"></i></a>
    </div>
  <p id="copyright">Buscamos sempre trazer a informação precisa e exata para você, mas por impossibilidades técnicas não podemos garatir que a informação esteja atualizada, em caso de divergência no preço, o preço válido é o da loja. Somos apenas um canal que te ajuda a encontrar o menor preço, não somos loja!<br><br>
    <span class="bolder">&copy; {{ano}} - Leone Promos</span> - Todos os direitos reservados.</p>
    <p><span class="bolder">Políticas: </span> <a href="/privacidade" target="_blank">de Privacidade</a> | <a href="/cookies" target="_blank">de Cookies</a></p>
</footer>
</body>
</html>