$primary: #da6709;

$utilities: (
        "max-height": (property: max-height,
                class: mh,
                values: (100: 100%,
                        33: 33.33%,
                        10: 10%)),
        "max-width": (property: max-width,
                class: mw,
                values: (100: 100%,
                        700: 700px,
                        500: 500px,
                        400: 400px,
                        300: 300px)),
        "height": (property: height,
                class: h,
                values: (25: 25%,
                        50: 50%,
                        75: 75%,
                        100: 100%,
                        auto: auto,
                        200: 200px))
);

@import '~bootstrap/scss/bootstrap';